.form-horizontal.edit-profile-form {
    padding: 20px;
}
.edit-profile-form input,
.edit-profile-form textarea {
    width: calc(100% - 30px);
    display: inline-block;
}
.edit-profile-form select {
    width: calc(50% - 30px);
    display: inline-block;
}
.edit-profile-form .date-of-birth {
    width: calc(25% - 30px);
}
.edit-profile-form .radio-inline input[type=radio] {
    width: auto;
}
.edit-profile-form .infopoint {
    color: #A2A2A2;
    font-size: 20px;
}
.image-holder {
    width: 128px;
    height: 128px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin-right: 25px;
}
.uploader-holder {
    float: left;
    padding-top: 40px;
}
@media screen and (max-width: 992px) {
    .edit-profile-form select,
    .edit-profile-form .date-of-birth {
        width: calc(100% - 30px);
    }
}
