.nav-tabs-custom .nav-tabs>li>a {
    font-size: 18px;
    font-weight: bold;
}
.events-tab-content {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.events-table thead th:last-child {
    min-width: 130px;
}
.events-table .btn-group .fa {
    line-height: 1.42857143;
}
.events-table .btn-group .dropdown-menu {
    right: 0;
    left: inherit;
}
.table-bottom-holder .checkbox,
.table-bottom-holder .pagination {
    margin: 0;
}
.table-bottom-holder .checkbox,
.table-bottom-holder .event-page-count{
    line-height: 29px;
}
.table-bottom-holder .checkbox,
.table-bottom-holder .event-page-count,
.table-bottom-holder .pagination {
    margin-bottom: 25px;
}
.table-bottom-holder .pagination-holder {
    text-align: right;
}
.btn-group>.btn:first-child {
    margin-right: 0;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #000;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}