.container .row.no-bg {
    background: transparent;
}
.infopoint {
    vertical-align: top;
    margin-top: 7px;
}
a.add_disc_link,
a.show_hide,
a#time_change,
a.advanced-option,
a#reset_loc {
    color: #337ab7;
}
a.add_disc_link:hover,
a.show_hide:hover,
a#time_change:hover,
a.advanced-option:hover,
a#reset_loc:hover {
    color: #757b87;
}
.add_dicription {
    display: inline-block;
}
#time_zone_change .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    margin-bottom: 15px;
    width: 35% !important;
}
#time_zone_change .select2-container .select2-selection--single {
    height: 34px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#time_zone_change .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 1.42857143;
}
#time_zone_change .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    position: absolute;
    top: 0;
    right: 1px;
    width: 20px;
}
.map_event_loc{
    height: 250px;
    width: 370px;
    float: right;
    margin-right: 55px;
}
.fields_loc_holder {
    float: right;
    width: calc(100% - 425px);
    padding-left: 227px;
    padding-right: 15px;
    box-sizing: border-box;
}
.fields_loc {
    width: 100% !important;
    margin-bottom: 0;
}
#add_event .fields_loc input {
    margin-bottom: 15px;
    width: 100%;
    background: #fff;
}
@media (max-width: 1199px) {
    .map_event_loc {
        margin-right: 45px;
    }
    .fields_loc_holder {
        padding-left: 179px;
    }
}
@media (max-width: 991px) {
    .map_event_loc {
        margin-right: 42px;
    }
    .fields_loc_holder {
        padding-left: 160px;
    }
}
@media (max-width: 767px) {
    .map_event_loc {
        width: 70%;
        margin-left: 24%;
        margin-right: 0;
        margin-bottom: 15px;
        float: none;
    }
    .fields_loc_holder {
        width: 70%;
        padding: 0;
        margin-left: 24%;
        float: none;
    }
}
@media (max-width: 600px) {
    #add_event .form-control, #add_event .form_datetime {
        width: calc(100% - 30px);
    }
    #time_zone_change .select2-container {
        width: calc(100% - 30px) !important;
    }
    .add_event_section_link {
        margin-left: 0;
    }
    .fields_loc {
        width: 100%!important;
    }
    .form-group.fields_loc {
        margin: 0;
    }
    .form-group.fields_loc input{
        margin-bottom: 15px;
    }
    #reset_loc {
        display: block;
        text-align: right;
        width: calc(100% - 30px);
    }
}
@media (max-width: 365px) {
    .add_event_section_link {
        float: none !important;
        margin-bottom: 20px;
    }
}

