.content.calendars {
    background: #eee;
    padding: 15px 0;
}
.calendars-holder .single-calendar {
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.calendars-holder .single-calendar img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.calendars-holder .single-calendar:nth-of-type(2n) {
    margin-top: 30px;
}
.how-it-works-block {
    background: #3090CD;
    color: #fff;
    padding: 40px 0;
}
.how-it-works-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}
.hiw-text {
    font-size: 22px
}
.hiw-image-holder img {
    max-width: 100%;
    width: auto;
    height: auto;
}
#prices-page {
    margin-top: 30px;
}
@media (max-width: 992px) {
    .calendars-holder .single-calendar:nth-of-type(2n) {
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    .calendars-text {
        text-align: center;
        margin-top: 20px;
    }
}