@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/*-----------------------------------------------------------------------------------*/
/*  GENERAL STYLING
/*-----------------------------------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    /*height: 100%;*/
    color: #757b87;
    margin-bottom: 45px;
}
.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}
.icon-section{
    background-color: #fff;
    line-height: 7px;
    padding-top: 10px;
    margin-bottom: 10px;
	height: 100px;

}
a:link,
a:visited,
a:hover,
a:active {
    color: #757b87;
    text-decoration: none;
}

.navbar-header img.logo_position {
	width: 300px;
}

ul {
    list-style-type: none;
}

li label {
    position: relative;
    bottom: 5px;
    color: #757b87;
    font-weight: lighter;
}

label {
    color: #757b87;
    font-weight: lighter;
    padding: 10px 5px;
}

p {
    text-align: justify;
}

p label {
    text-align: justify;
}
/*.container .row{*/
    /*background-color: white;*/
/*}*/
/* ----------Custom Color Code ---------- */

.primary,
.primary>a,
.primary>a:visited,
.primary>a:hover,
.primary>a:active {
    color: #418bca;
    text-decoration: none;
}

.danger,
.danger>a,
.danger>a:visited,
.danger>a:hover,
.danger>a:active {
    color: #ef6f6c;
    text-decoration: none;
}

.success,
.success>a,
.success>a:visited,
.success>a:hover,
.success>a:active {
    color: #01bc8c;
    text-decoration: none;
}

.warning,
.warning>a,
.warning>a:visited,
.warning>a:hover,
.warning>a:active {
    color: #f89a14;
    text-decoration: none;
}

.yellow,
.yellow>a,
.yellow>a:visited,
.yellow>a:hover,
.yellow>a:active {
    color: #FFD43C;
    text-decoration: none;
}
/* ---------- //Custom Color Code End ---------- */
/* ---------- Text-Bg color Code Css ---------- */

.bg-default {
    background-color: #f5f5f5;
}

.bg-primary {
    background-color: #418bca;
    color: #fff;
}

.bg-success {
    background-color: #01bc8c;
    color: #fff;
}

.bg-danger {
    background-color: #ef6f6c;
    color: #fff;
}

.bg-warning {
    background-color: #f89a14;
    color: #fff;
}
/* ---------- //Text-Bg color Code Css End ---------- */
/* ---------- Why choose us Section css ---------- */

#accordion {
    margin-top: 2%;
}

.text_bg {
    background-color: #f2eded !important;
}
/* ---------- //Why choose us Section End ---------- */
/* ---------- Text-Bg Border color Code Css ---------- */

.border-primary {
    border-bottom: 2px solid #418bca;
    padding-bottom: 5px;
}

.border-warning {
    border-bottom: 2px solid #f89a14;
    padding-bottom: 5px;
}

.border-success {
    border-bottom: 2px solid #01bc8c;
    padding-bottom: 5px;
}

.border-danger {
    border-bottom: 2px solid #ef6f6c;
    padding-bottom: 5px;
}
/* ---------- //Text-Bg Border color Code Css End---------- */
/* ---------- Text-Success Css---------- */

.text-success {
    color: #01bc8c !important;
    background-color: inherit;
}

.text-danger {
    color: #ef6f6c;
}
/* ---------- //Text-Success End---------- */
/* ---------- Nav bar Css Start ---------- */

.navbar-right {
    margin-right: 30px;
	margin-top: 20px;
}

.icon-position label {
    padding-left: 0px;
    margin-left: 0px;
}

.logo_position {
    position: relative;
    bottom: 20px;
}

.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-default .navbar-nav > li>a:hover {
    color: #0B83BD;
}
.navbar-brand{
    width: calc(100% - 65px);
    max-width: 330px;
}
.navbar-header img.logo_position{
    width: 100%;
}
/* ---------- Navbar  Dropdown menu Css ---------- */

.navbar-nav .dropdown-menu:before {
    bottom: 15px;
    width: 0;
    height: 0;
    left: 100px;
    z-index: 1002;
    content: " ";
    display: block !important;
    position: relative;
    border-bottom: 8px solid #ef6f6c;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
/* ---------- //Navbar  Dropdown menu Css End ---------- */
/* ---------- Navbar  Dropdown menu hover Css ---------- */

.navbar-nav .dropdown-menu a:hover {
    border-left: 2px solid #ef6f6c;
}
/* ---------- //Navbar  Dropdown menu hover Css End ---------- */

.navbar-default .navbar-nav >.open >a:hover,
.navbar-default .navbar-nav >.open >a {
    background-color: #fff !important;
    color: #0B83BD;
}

.navbar-nav .dropdown-menu li:hover {
    border: none;
}

.navbar {
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
}
/* ---------- Nav bar Css End ---------- */

a.add_event{
    color: #418bca;
    font-size: 20px;
    left: 530px;
    position: absolute;
    top: 50px;
}

/* ---------- Breadcrumb Css ---------- */

.breadcrumb a,
.breadcrumb a:visited,
.breadcrumb a:hover,
.breadcrumb a:active {
    color: #3d3d3d;
    text-decoration: none;
}

.breadcum {
    background-color: #DBD6D6;
    border-top: 2px solid #b7b0b0;
    border-bottom: 2px solid #b7b0b0;
    padding: 0px 2%;
}

.breadcum .pull-right {
    padding: 8px 15px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #DBD6D6;
    border-radius: 4px;
    float: left;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #3d3d3d;
    content: none;
}
/* ---------- //Breadcrumb Css End ---------- */
/* ---------- Breadcrumb Icon Section Css ---------- */

.icon3 {
    position: relative;
    top: 5px;
    left: 0px;
}

.icon4 {
    left: -1px;
    top: 3px;
}
/* ---------- //Breadcrumb Icon Section End ---------- */
/* ---------- Carousel Css ---------- */

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #000;
    border: 1px solid #5E5E5E;
}

.carousel-indicators li {
    border: 1px solid #5E5E5E;
    width: 13px;
    height: 13px;
}

.carousel-caption {
    font-size: 30px;
}
/* ---------- //Carousel Css End ---------- */

blockquote {
    border-left: 2px solid #ef6f6c;
}
/* ---------- Testimonial Images Css Start ---------- */

.author {
    padding: 15px;
    background: #f6f6f6;
    margin-bottom: 10px;
}

.author img {
    width: 50px;
}
/* ---------- //Testimonial Images Css End ---------- */
/* ---------- Feature Section Css ---------- */

.features i {
    line-height: 2px;
    float: left;
    margin: 1px 5px;
}
/* ---------- //Feature Section Css End ---------- */
/* ---------- Menu Section Css ---------- */

.menu > li {
    border: 1px solid #f89a14;
    padding: 10px 13px;
    margin: 0px 10px;
}

.menu {
    margin-top: 20px;
}

.menu > li:hover,
.menu li .active {
    background-color: #01bc8c;
}
/* ---------- //Menu Section Css End ---------- */

.tabbable-panel ul {
    list-style-type: none;
}
/* ---------- Our services Box  Style Css ---------- */


.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 15px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
}
/* ---------- //Our services Box  Style Css End ---------- */
/* ------------- Our Services Box Icon Css ---------- */

.box-icon {
    background-color: transparent;
    border: 1px solid #01bc8c;
    border-radius: 50%;
    display: table;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    margin-top: -61px;
}
/* ------------- //Our Services Box Icon Css End ---------- */

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* ---------- Our Services Icon Border css ---------- */

.box-icon1 {
    border: 1px solid #418bca;
}

.box-icon2 {
    border: 1px solid #f89a14;
}

.box-icon3 {
    border: 1px solid #FFD43C;
}
/* ---------- //Our Services Icon Border css ---------- */
/* ---------- Our services Text Css----------*/

.info > p {
    color: #787878;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.info > p +.text-center{
    font-size: 20px;
    text-transform: uppercase;
    color: #b4b4b4;
}
.primary.lite{
    margin-top: 38px;
}
/* ---------- //Our services Text End ----------*/
/* ---------- Our service Icon Css ---------- */

.icon {
    position: relative;
    right: 11px;
    top: 14px;
}

.icon1 {
    position: relative;
    right: 10px;
    top: 12px;
}
/* ---------- //Our service Icon Css End---------- */
/* ---------- Feature main Section Start --------- */

.feature-main {
    padding: 50px 0px;
    background-color: #f2eded;
}

.feature-main1 {
    padding: 50px 0px;
}

.layout-styl {
    padding: 80px 0px;
}

.layout-styl li {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300 !important;
    color: #515763;
    text-align: left
}
/* ---------- //Feature main Section End --------- */
/* ---------- Purchase Section Css Start ---------- */

.purchas-main {
    padding: 10px 0px;
}

.bg-border {
    background: #f2eded;
    border-left: 3px solid #01bc8c;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.purchae-hed {
    margin-bottom: 20px;
    margin-left: 15px;
    color: #01bc8c;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}

.purchase-styl {
    padding: 15px 80px;
    background-color: #01bc8c;
    border: none;
    box-shadow: 0px 2px 0px #268a70;
    color: #fff !important;
    margin-right: 20px;
    margin-top: 10px;
}

.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
    background-color: #01bc8c;
}
/* ---------- //Purchase Section Css Ebd ---------- */
/* ---------- Our Team Divide Section Css ---------- */

.divide {
    border-top: 1px solid #848481;
    padding: 5px;
}

.divide > a {
    padding: 3%;
}
/* ---------- //Our Team Divide Section Css End ---------- */

.pull-right a {
    color: #128bc6;
}

.input-group-addon {
    color: #fff;
    background-color:#DEDCDC;
    border: 1px solid #5E5E5E;
}

.team img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
/* ---------- News Section Css----------*/

.news {
    margin-top: 2%;
}
.news .form-group{
    width: 80%;
}
.news .form-control {
    background-color: #444343;
    border: 1px solid #5E5E5E;
    color: #f3f3f3;
}

.news > .form-control:focus {
    border-color: #5E5E5E;
    outline: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0);
}
/* ---------- //News Section Css End ---------- */

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #DDD;
}
/* ---------- Headings Border Css ---------- */

.heading_border {
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 15px;
}
/* ---------- //Headings Border Css End---------- */

.tab img {
    width: 100%;
}

.tab {
    padding-left: 0px;
}

.tab_list > li {
    padding: 5px;
}

.tab_list {
    margin-top: 15px;
    padding-left: 0px;
}

.profile img {
    width: 100%;
}
/* ---------- Footer Section Css ---------- */

footer {
    background-color: #262626;
}

footer h4 {
    color: #fff;
}

.footer-text {
    color: #ababab;
    padding: 30px 0px;
}

footer img {
    width: 50px;
}

footer .btn-primary.text-white {
    margin-top: 2%;
}
/* ---------- //Footer Section Css End ---------- */

.text-white {
    color: #fff !important;
}

.bg-white {
    background-color: #fff;
}

@media(max-width: 370px) {
    .properties {
        border-right: none;
    }
    .media-object img {
        width: 50%;
    }
}
/* ---------- About Us Slider Css ---------- */

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo {
    margin: 0px;
}
#owl-demo .item{

    max-width: 966px;
    margin: auto;
    background-color: white;
    background-image: url(../../images/slide-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
#bar {
    width: 0% !important;
    height: 3px;
    background: #01bc8c;
}

#progressBar {
    width: 100%;
    background: #EDEDED;
    display: none;
}
.slide-content{
    width: 50%;
    left:0;
    padding: 50px;
    padding-bottom: 100px;
}
.slide-head{
    font-size: 26px;
    font-weight: bold;
    color: #1f487c;
}
.slide-text{
    margin: 30px 0;
    font-size: 20px;
    color: #7e7e7e;
}
.add-test-event{
    width: 200px;
    background-color: #e36c09;
    color:white;
    line-height: 44px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.add-test-event:after{
    content: '';
    width: 205px;
    height: 38px;
    background-image: url(../../images/slide-arrow.png);
    display: block;
    position: absolute;
    margin-top: 11px;
    margin-left: 25px;
}
.owl-carousel {
    display: block !important;
}
/* ---------- //About Us Slider Css End ---------- */

/* ---------- //About Calendars Css Start---------- */
.calendars img{
    width: 100%;
}
/* ---------- //About Calendars Css End ---------- */


/* ---------- //About UI-Slider Css Start---------- */
.ui-slider.col-xs-12{
    text-align: center;
}
.ui-slider-container{
    width: 80px;
    margin:auto;
    background-color: white;
    border-radius: 22px;
    height: 44px;
    padding-left: 10px;
    border: 2px solid gray;
    display: inline-block;
}
#slider{
    width: 38px;
    height: 40px;
    background-color: transparent;
    background: none;
    border:none;
}
#slider.ui-slider-horizontal .ui-slider-handle{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    top:2px;
}
#slider.ui-slider-horizontal .ui-slider-handle:focus{
    outline:none;

}
.monthly,
.yearly{
    display: inline-block;
    line-height: 44px;
    vertical-align: top;
}
.yearly:after{
    content: '';
    width: 205px;
    height: 38px;
    background-image: url(../../images/slide-arrow.png);
    display: block;
    position: absolute;
    margin-top: -11px;
    margin-left: 5px;
}
/* ---------- //About UI-Slider Css End ---------- */
.businesses {
    margin: 100px 0 50px;
}
.plans-for{
    font-size: 18px;
    color: #1f487c;
}
.plans-for-business{
    display: none;
    background-color: #d9d9d9;
    color: #7e7e7e;
    padding: 15px;
    padding-top: 7px;
    border-radius: 5px;
    position: absolute;
    width: 270px;
    font-size: 14px;
    text-align: left;
    right: calc(50% - 380px);
    top: 0;
}
.plans-for-business:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #d9d9d9 transparent transparent;
    top: calc(50% - 8px);
    left: -10px;
}
.plans-for-business .plans-for{
    padding-bottom: 7px;
    border-bottom: 3px solid rgba(255,225,255, 0.5);
    color: #7e7e7e;
    margin-bottom: 7px;
    padding-left: 15px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: 0;
}
.businesses .text-center{
    width: auto;
    margin: auto;
}
.businesses .slide-head:hover + div{
    display: block;
}
.center-block {
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 0px;
}

.sliders {
    background-color: #fdfcfc;
    padding: 20px;
}

.sliders h4 {
    margin-bottom: -5%;
}

.sliders h5 {
    padding-top: 4%;
}

.marbtm10 h3 {
    margin-bottom: 0px;
}
/* ---------- Back to top Section Icon Css ---------- */

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    border-radius: 50%;
    padding: 15px;
    border: none;
    opacity: 0.7;
}

.back-to-top:hover {
    opacity: 1;
}
.fa-hand-o-up{
    font-size: 16px;
}
/* ---------- //Back to top Section Icon Css End---------- */
/* ---------- Copy Right Section Css  ---------- */

.copyright {
    background-color: #1F487C;
}

.copyright p {
    color: #fff;
    padding: 0.5% 0;
    margin: 0.5% 0;
}
/* ---------- //Copy Right Section Css  ---------- */
/* ---------- Advanced Features Css ---------- */

.advanced button,
.tooltips button,
.pop button {
    margin-bottom: 15px;
}
/* ---------- //Advanced Features Css ---------- */

@media(max-width: 759px) {
    .navbar-nav .dropdown-menu:before {
        content: none;
    }
    .slide-content{
        width: 75%;
    }
    #prices-page + .col-xs-12 .text-center{
        width: 50%;
        margin-left: 25%;
        float: none;
    }
     #prices-page + .col-xs-12,
    .col-xs-12.ui-slider,
    .businesses{
        margin-top: 30px;
        float: none;
        width: 100%;
    }
    .plans-for-business{
        right: calc(50% - 135px);
        top:100%;
        z-index: 10000;
    }
    .plans-for-business:before{
        top: -10px;
        transform:rotate(90deg);
        left: calc(50% - 8px);
    }
}
@media(max-width: 590px) {
    .yearly:after{
        display: none;
    }
    .slide-content{
        width: 100%;
    }
    #owl-demo .item{
        background-image: none;
    }
    #prices-page + .col-xs-12 .text-center {
        width: 100%;
        margin-left: 0;
    }
}
@media(max-width: 950px) {
    .profile {
        display: block;
        margin-right: 4%;
        margin-left: 4%;
    }
}
.skin_btn {display:inline-table; cursor:pointer; width:30px; height:30px; margin-bottom: 1px;}
.skin_size { width:30px; height:30px; margin:3px;}
.well{padding:10px;}
.primary_skin {background-color:#128bc6;}
.danger_skin{background-color: #ef6f6c;}
.success_skin{background-color: #01bc8c;}
.warning_skin{background-color: #F89A14;}
.purple_skin{background-color: #D2527F;}
.turquoise_skin{background-color: #4ecdc4;}
.asbestos_skin{background-color: #7f8c8d;}
.hoki_skin{background-color: #67809f;}

#add_event .form-control, #add_event .form_datetime {
    display: inline-block;
    width: 70%;
}

#add_event .form-control{
    display: inline-block;
}
#add_event .form_datetime .form-control {
	width: 100%;
}
.form_datetime .input-group-addon {
	padding: 6px 12px;
    border: none;
}
#add_event label {
    text-align: right;
    vertical-align: top;
    width: 24%;
	padding: 5px 10px 5px 0;
}
#add_event .radio-group  label {
	width: auto;
	padding: 0 10px 0 3px;
}
.form-control.radio-group {
	border: none;
	box-shadow: none;
}

#add_event .event_time {
	display: none;
}
#add_event iframe.wysihtml5-sandbox {
	width: 100% !important;
}
#add_event .form-control.description {
	height: 200px;
}
.select2-results__option {
    padding: 2px;
}

.add_event_section_link {
    margin-left: 24%;
}

.add_event_section_link#hide_dicription {
    margin-bottom: 12px;
}
#add_event .form_datetime + i{
    position: absolute;
    margin-top: 9px;
    margin-left: 3px;
}
#consultation_info #photo-file{
    width: calc(100% - 22px);
    opacity: 0;
}
#consultation_info #photo-file:after{
    opacity: 1;
    width:100%;
    border: 1px solid #e9e9e9;
    height: 36px;
}
/*------------About Event Show Css--------*/
.text-center.event-show{
    padding: 15px;
}
.text-center.event-show a{
    font-weight: bold;
    color: #2f8fce;
}
.event-name.event-show{
    color: black;
    font-size: 26px;
}
.event_period.event-show{
    font-size: 18px;
    color: #8d8d8d;
    margin-bottom: 15px;
}
.content.event-show {
    border-radius: 10px;
}
.content.event-show .input-group{
    margin-bottom: 15px;
}
#add-to-calendar-btn{
    margin: 0 15px;
}
.see-details-btn{
    color: #2f8fce;
}
.text-center.share-event{
    color: black;
    margin-top: 50px;
}
.test-event-cont{
    width: 250px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    float:right;
    top: -5px;
    right: -5px;
}
.test-event-cont .test-event-red-line{
    transform:rotate(30deg);
    width: 130%;
    margin-top: 11%;
    text-align: center;
}
.test-event-red-line{
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    color:white;
    font-weight: bold;
    background-color: red;
}
.share-event-top {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10000;
    color: white;
    top: 0;
}
.share-container{
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    border-bottom: 4px solid #0073a7;
    margin-top: -4px;
    font-size: 18px;
}
.share-container .row.content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.share-event-top .show-details{
    cursor: pointer;
    font-size: 24px;
    width: 377px;
    margin:auto;
    background-image: url(../../images/share_event.png);
    height: 41px;
    clear: both;
}

.share-event-top .show-details.disabled {
    color: black;
    background-image: url(../../images/share_event_dis.png);
}

.share-event-top.opened .share-container{
    margin-top: -20px;
    height: 250px;
    background: #fff;
}
.share-event-top.opened{
    position: relative;
}
.share-event-top.opened .show-details{
    position: absolute;
    vertical-align: bottom;
    margin-left: calc(50% - 188.5px);
}
.share-text{
    color: black;
}
.share-text a{
    color: #2e6da4;
}
.share-container .input-group button{
    margin-right: 15px;
    margin-bottom: 15px;
}
#shortlink{
    width: 75%;
    float: left;
    margin-top: 15px;
}
#shortlink:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #757B87;
    height: 31px;
}
.exit-show-details{
    float: right;
    transition: all ease 0.5s;
    cursor: pointer;
    color: #808080;
    font-size: 36px !important;
}
.exit-show-details:hover{
    transform:rotate(90deg);
    opacity: 0.9;
}
/*-----Errors---------*/
#create_event .alert.alert-danger.myalert{
    margin-left: 24%;
    float: none;
    background-color: transparent;
    font-weight: bold;
    color: red;
    margin-top: 15px;
    padding: 0;
    border: none;
    width: 70%;
}
.bootstrap-maxlength.label-success.label{
    background-color: #c0504d;
    color: white;

}
#btn_group > .add_event_section_link:first-child{
    float: left;
}
.input-group.date .input-group-addon span{
    width: auto !important;
    height: auto !important;
    color: #545353;
}
.panel-primary{
    border: none;
}
@media(max-width:600px){
    #add_event label {
        width:auto;
    }
    #add_event .form-control,
    #add_event .form_datetime{
        width:100%;
    }
    #add_event .form_datetime{
        margin-bottom: 0;
    }
    #add_event .form_datetime i{
        display: inline-block;
        float:none;
    }
    .form-group i.infopoint{
        margin-top: 9px;
    }
    .map_event_loc{
        width: 95%;
        margin-bottom: 30px;
    }
}
@media (max-width: 370px) {
    .share-event-top .show-details {
        width: 100%;
        margin: auto;
        background-color: #0073A7;
        background-image: none;
    }
    .share-event-top.opened .show-details {
        margin-left: 0;
    }
}