.business-plan-block {
    padding-bottom: 150px;
}
.price-panel {
    border: 1px solid #A7A7A7;
    position: relative;
    margin-bottom: 30px;
}
.price-panel-badge {
    position: absolute;
    right: 0;
    top: -23px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
    border-radius: 3px 3px 0 0;
}
.price-panel-badge-orange {
    background: orange;
}
.price-panel-badge-blue {
    background: #337ab7;
}
.price-panel.panel-default > .panel-heading{
	background-color: #d9d9d9;
	border: none;
	text-align: center;
	padding: 0;
}
.price-panel-title {
	font-size: 26px;
	border-bottom: 1px solid #A7A7A7;
	padding: 10px 15px;
}
.price-panel-price {
    font-size: 50px;
    color: #525252;
}
.price-panel-sub-title {
    font-size: 20px;
    color: #616161;
    padding-bottom: 15px;
    border-bottom: 1px solid #A7A7A7;
}
.price-panel .panel-body {
	background-color: #fff;
	font-size: 18px;
    text-align: center;
}
.price-panel-body-heading {
    font-style: italic;
    border-bottom: 1px solid #757B87;
    padding-bottom: 5px;
}
.price-panel ul {
    padding: 20px 0;
}
.price-panel ul li {
    margin-bottom: 10px;
}
.price-panel ul li:last-child {
    margin-bottom: 0;
}
.price-btn{
    font-size: 18px;
    font-weight: bold;
}
.vat-text {
    text-align: right;
}
.help-text {
    font-size: 18px;
    margin: 20px 0;
}
.individual-plans-block {
    padding: 40px 0;
    background: #dbeef4;
}
.individual-plans-block-title,
.individual-plans-block-sup-title {
    color: #1f487c;
    text-align: center;
}
.individual-plans-block-sup-title {
    font-size: 18px;
}
.individual-plans-block-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 50px;
}
.price-panel-help-text {
    font-size: 14px;
    padding: 10px 0;
}
.price-panel-link {
    font-size: 16px;
}
.commonly-questions-block {
    padding: 40px 0;
    background: #d9d9d9;
}
.commonly-questions-block-title {
    color: #1f487c;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.question-title,
.question-text {
    margin-bottom: 20px;
}
.question-title {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: bold;
}
.question-text {
    font-size: 16px;
}
.feature-comparison-block {
    padding: 40px 0;
}
.feature-comparison-block-title {
    color: #1f487c;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.feature-comparison-table,
.feature-comparison-table thead th {
    text-align: center;
}
.feature-comparison-table tbody td,
.feature-comparison-table thead th {
    background: #f1f1f1;
}
.feature-comparison-table thead th.th-colored {
    background: #5ec4d3;
}
.feature-comparison-table tbody td.td-colored {
    background: #d6f1f3;
}
.feature-comparison-table thead th.th-colored .table-plan-title {
    color: #fff;
}
.table-plan-title {
    color: #fda556;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.price-table-btn {
    background: #fff;
    color: #5a5a5a;
    padding: 6px 25px;
}
.price-table-btn:hover {
    background: #e1e1e1;
    text-decoration: none;
}
.table.feature-comparison-table>thead>tr>th {
    border-bottom: 1px solid #fff;
    border-right: 3px solid #fff;
}
.table.feature-comparison-table>thead>tr>th:first-child {
    border-bottom: 1px solid #ddd;
    border-right: none;
    background: none;
}
.table.feature-comparison-table>tbody>tr>td {
    border-top: 1px solid #fff;
    border-right: 3px solid #fff;
}
.table.feature-comparison-table>tbody>tr>td,
.table.feature-comparison-table>tbody>tr>th,
.table.feature-comparison-table>tfoot>tr>td,
.table.feature-comparison-table>tfoot>tr>th,
.table.feature-comparison-table>thead>tr>td,
.table.feature-comparison-table>thead>tr>th {
    padding: 20px 8px;
}
.feature-comparison-table i.fa {
    color: #5ac4d3;
}
.feature-comparison-table strong {
    color: #5e6166;
}
.business-plan-holder .business-plan-panel-holder:last-child:after,
.individual-plan-holder .individual-plan-panel-holder:last-child:after {
    content: "All prices include applicable VAT";
    display: block;
    text-align: right;
}