.box_round_symboll{
	background-color: #ef6f6c;
	  text-align: center;
	  font-size: 40px;
	  color: #fff;
	  border-radius: 50%;
	  width: 100px;
	  height: 100px;
	  padding: 21px 1px 1px 0px;
	  margin: auto;
}

.price-panel {
    border: 1px solid #A7A7A7;
}
.price-panel.panel-default > .panel-heading{
	background-color: #d9d9d9;
	border: none;
	text-align: center;
	padding: 0;
}
.price-panel-title {
	font-size: 26px;
	border-bottom: 1px solid #A7A7A7;
	padding: 10px 15px;
}
.price-panel-price {
    font-size: 50px;
    color: #525252;
}
.price-panel-sub-title {
    font-size: 20px;
    color: #616161;
    padding-bottom: 15px;
    border-bottom: 1px solid #A7A7A7;
}
.price-panel .panel-body {
	background-color: #fff;
	font-size: 18px;
}
.price-panel ul {
    padding: 0;
}
.price-panel-body-heading {
    font-style: italic;
    border-bottom: 1px solid #757B87;
    padding-bottom: 5px;
}
.price-btn{
	background-color: #01bc8c;
	width: 100%;
	color:#fff !important;
	font-size: 16px;
}
